[submodule "src/main/java/dev/yekta/uni/project1/project-java-rational"]
	path = src/main/java/dev/yekta/uni/project1/project-java-rational
	url = https://github.com/YektaDev/project-java-rational.git
